<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- Bean definition for BookRepository -->
    <bean id="bookRepository" class="com.library.repository.BookRepository">
        <!-- Repository configuration can be added here -->
    </bean>

    <!-- Bean definition for BookService with dependency injection -->
    <bean id="bookService" class="com.library.service.BookService">
        <!-- Setter injection for BookRepository -->
        <property name="bookRepository" ref="bookRepository"/>
    </bean>

    <!-- Bean definition for LoggingAspect (for AOP exercises) -->
    <bean id="loggingAspect" class="com.library.aspect.LoggingAspect"/>

    <!-- Enable AspectJ auto-proxying for AOP support -->
    <aop:aspectj-autoproxy/>

    <!-- Enable component scanning for annotation-based configuration -->
    <context:component-scan base-package="com.library"/>

    <!-- Enable annotation-driven configuration -->
    <context:annotation-config/>

</beans>